.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin-bottom: 20px;
  }

.script {
    border: 2px solid black;
    width: 50%;
    height: 50%;
    margin-right: 10px;
    padding: 20px;
}

.console {
    background-color: black;
    color: white;
    width: 50%;
    height: 50%;
    margin-left: 10px;
    padding: 20px;
}